body {
    background: #ffc9fa;
    background: linear-gradient(180deg, rgba(255, 201, 250, 1) 0%, rgba(255, 179, 255, 1) 50%, rgba(255, 181, 245, 1) 100%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    height: calc(100vh - 2rem);
}

body * {
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

#logo {
	padding-top: 1rem;
    display: grid;
    justify-items: center;
}

img {
    object-fit: contain;
    height: 100%;
}

#controls {
	padding-top: 1rem;
	display: grid;
	grid-template-columns: auto auto ;
	grid-template-rows: auto auto;
	gap: 1rem;
	justify-items: center;
}

#playContainer {
    display: grid;
    align-items: center;
    justify-items: center;
}

#playButton {
	color: white;
    background: none;
    border: 5px double white;
    width: 250px;
    height: 250px;
    border-radius: 200px;
    cursor: pointer;
    outline: none;
    animation: pulse 1.5s infinite ease-in-out;
    font-size: 2em;
}

input[type=number] {
  color: #3a3a3a;
  padding: 1rem 4rem;
  text-align: center;
  border-radius: 10px;
  border-width: 0px;
}